body {
    background-color: #fdab9f;
}

#wrapper {
    margin: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #404040;
}

h1 {
    font-size: 100px;
}

#circle {
    border-radius: 400px;
    border: 10px solid #404040;
    padding: 100px;
    font-size: 50px;
    margin: 100px auto;
    width: 160px;
    height: 160px;
    line-height: 160px;
}

button {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    /*h, w*/
    width: 110px;
    border: 0 solid #404040;
    border-radius: 10px;
    margin: auto 20px 20px;
    transition-duration: 0.3s;
    cursor: pointer;
    background: white;
    color: #404040;
    outline: none;
}

button:hover {
    filter: brightness(90%);
}